# COBOT_CARDS_API='https://chimera.cobot.me/api/check_in_tokens'
COBOT_CLIENT_ID='...'
COBOT_CLIENT_SECRET='...'
COBOT_REDIRECT_URL='http://10.0.1.48:8080/success'
# COBOT_SCOPE='checkin_tokens'
COBOT_USER_EMAIL='...'
COBOT_USER_PASSWORD='...'
# USB_MOUNT_PATH='...'
RFID_READER_SERIAL_NUMBER='AH05Q18Z'
