@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(/webfonts/roboto-100.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/webfonts/roboto-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(/webfonts/roboto-700.ttf) format('truetype');
}
