/*------------------------------------------------------
-   Variables
------------------------------------------------------*/

:root {
  --font-family-sans-serif: Roboto, sans-serif;

  --color-primary: #2aa5c1;
  --color-primary-dark: #1e8096;
  --color-secondary: #2ac17a;
  --color-secondary-dark: #1d915a;
}

/*------------------------------------------------------
-   Base styles
------------------------------------------------------*/

* {
  box-sizing: border-box;
}
body {
  font-size: var(--font-size-l);
}
a {
  color: var(--color-primary);
  text-decoration: none;
}
a:hover {
  color: var(--color-primary-darker);
}
p {
  line-height: var(--line-height-md);
  margin: var(--spacing-md) 0;
}

/*------------------------------------------------------
-   Buttons
------------------------------------------------------*/

.button {
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: white;
  display: inline-block;
  padding: var(--spacing-sm) var(--spacing-md);
  cursor: pointer;
}
.button:hover {
  background: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  color: white;
}
.button-danger {
  background: var(--color-danger);
  border-color: var(--color-danger);
}
.button-danger:hover {
  background: var(--color-danger-dark);
  border-color: var(--color-danger-dark);
}
.button-info {
  background: var(--color-info);
  border-color: var(--color-info);
}
.button-info:hover {
  background: var(--color-info-dark);
  border-color: var(--color-info-dark);
}
.button-outline {
  color: var(--color-primary);
  background: transparent;
}
.button-outline:hover {
  color: white;
}
.button-sm {
  font-size: var(--font-size-sm);
  padding: var(--spacing-xs) var(--spacing-sm);
}

/*------------------------------------------------------
-   Forms
------------------------------------------------------*/

.label {
  display: block;
  font-weight: bold;
  padding: var(--spacing-md) 0 var(--spacing-sm) 0;
}
.input {
  background: white;
  border: 1px solid var(--color-gray-light);
  padding: var(--spacing-sm);
}
.input-block {
  display: block;
  width: 100%;
}

/*------------------------------------------------------
-   Page heading
------------------------------------------------------*/

header h1 {
  font-size: var(--font-size-xxl);
  font-weight: 400;
}

.page-heading {
  font-size: var(--font-size-xxl);
  color: var(--color-primary);
  margin-bottom: var(--spacing-sm);
  font-weight: 400;
}

/*------------------------------------------------------
-   Special
------------------------------------------------------*/

#statusspyview {
  position: absolute;
  min-height: 100%;
  top: 5em;
  left: 0.5em;
  right: 0.5em;
  background: white;
  border: 2px dotted #ccc;
}

@keyframes highlight-bg {
  0%   {background-color:#ffffaa;}
  100% {background-color:inherit;}
}

/* highlight new rows once */
#statusspylog tbody td {
  animation-name: highlight-bg;
  animation-duration: 30s;
  animation-iteration-count: 1;
}
