doctype html
html(lang='en')
  head
    title
      block title
      | - Chimera Doorlock
    link(href='/google-font-roboto.css' rel='stylesheet')
    link(href='/ress.min.css' rel='stylesheet' type='text/css')
    link(href='/euphoria.min.css' rel='stylesheet' type='text/css')
    link(href='/fontawesome-5.8.2-all.css' rel='stylesheet' crossorigin='anonymous')
    link(href='/styles.css' rel='stylesheet')
    script(src='/jquery-latest.min.js')
    script(src="/socket.io/socket.io.js")
    script(src='/client.js')

  body.p-none.m-none.ff-sans-serif
    header.df.p-md.gray.bb.bc-gray-lighter
      h1.ls-lg.upper
        a(href='/').gray-light Doorlock
      .ml-auto
        a.button.ml-sm(href='/') Scan
        a.button.ml-sm(href='/cards') Cards
        a.button.ml-sm(href='/logs') Logs
        a.button.ml-sm#statusspybutton
          i.fas.fa-binoculars

    section.mx-auto.my-md.p-md
      block content

    div#statusspyview.dn
      h1.page-heading Monitoring...
      table#statusspylog.w-100
        thead
          tr
            th.px-md.py-sm.bb.bc-gray-lighter.gray-light.fw-1 Time
            th.px-md.py-sm.bb.bc-gray-lighter.gray-light.fw-1 Name
            th.px-md.py-sm.bb.bc-gray-lighter.gray-light.fw-1 Card
            th.px-md.py-sm.bb.bc-gray-lighter.gray-light.fw-1 Status
        tbody
