
extends ./layout.pug

block title
  | Logs

block content
  h1.page-heading Logs
  table.collapse.w-100
    thead
      tr
        th.px-md.py-sm.bb.bc-gray-lighter.gray-light.fw-1 Date
        th.px-md.py-sm.bb.bc-gray-lighter.gray-light.fw-1 Member Name
        th.px-md.py-sm.bb.bc-gray-lighter.gray-light.fw-1 RFID Card Number
    tbody
      for log in logs
        - date = new Date(log.timestamp)
        tr.hov-bg-gray-lightest
          td.px-md.py-sm.bb.bc-gray-lighter.c-help(title=date)= moment(date).fromNow()
          td.px-md.py-sm.bb.bc-gray-lighter= log.card.name
          td.px-md.py-sm.bb.bc-gray-lighter= log.card.number
